{% extends "base.html" %}

{% block content %}
  <div class="block-content" style="display: flex; padding: 10px">
    <div class="card" style="width: 15rem; margin: 10px;">
      <div class="card-body">
        <h5 class="card-title">Task1</h5>
        <div style="display: flex; justify-content: space-between">
          <div class="card-text">user</div>
          <div class="card-text">date</div>
          <div class="card-text">ready</div>
        </div>
      </div>
    </div>
    <div class="card" style="width: 15rem; margin: 10px;">
      <div class="card-body">
        <h5 class="card-title">Task2</h5>
        <div style="display: flex; justify-content: space-between">
          <div class="card-text">user</div>
          <div class="card-text">date</div>
          <div class="card-text">ready</div>
        </div>
      </div>
    </div>
    <div class="card" style="width: 15rem; margin: 10px;">
      <div class="card-body">
        <h5 class="card-title">Task3</h5>
        <div style="display: flex; justify-content: space-between">
          <div class="card-text">user</div>
          <div class="card-text">date</div>
          <div class="card-text">ready</div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}